<!-- ng filters demo -->
<!doctype html >
<html ng-app="angularLearning">
    <head>
        <title>Ng Filter Demo</title>
        <script src="js/angular-1.5.7/angular.js"></script>
        <script src="js/part-8.js"></script>
    </head>
    <body>
        <div ng-controller="part8Controller">
            Limit Rows to: <input type="number" min="0" max="10" ng-model="limitTo"/>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Gender</th>
                        <th>Salary(number)</th>
                        <th>Salary (currency)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees | limitTo:limitTo">
                        <td>{{ employee.name | uppercase }}</td>
                        <td>{{employee.dateOfBirth | date : "dd/MM/yyyy"}}</td>
                        <td>{{employee.gender | lowercase}}</td>
                        <td>{{ employee.salary |number:2 }}</td>
                        <td>{{ employee.salary | currency:$:1 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>