<!-- ng sort demo -->
<!doctype html >
<html ng-app="angularLearning">
    <head>
        <title>Ng Sort Demo</title>
        <script src="js/angular-1.5.7/angular.js"></script>
        <script src="js/part-9.js"></script>
    </head>
    <body>
        <div ng-controller="part9Controller">
            Order By: 
            <select ng-model="sortColumn">
                <option value="">Please select a value</option>
                <option value="name">Name ASC</option>
                <option value="dateOfBirth">Date of birth ASC</option>
                <option value="gender">Gender ASC</option>
                <option value="-salary">Salary DESC</option>
            </select>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Gender</th>
                        <th>Salary(number)</th>
                        <th>Salary (currency)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees | orderBy: sortColumn">
                        <td>{{ employee.name | uppercase }}</td>
                        <td>{{employee.dateOfBirth | date : "dd/MM/yyyy"}}</td>
                        <td>{{employee.gender | lowercase}}</td>
                        <td>{{ employee.salary |number:2 }}</td>
                        <td>{{ employee.salary | currency:$:1 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>