<!-- sort by clicking the table headers -->
<!doctype html>
<html ng-app="angularLearning">
    <head>
        <script src="js/angular-1.5.7/angular.js"></script>
        <script src="js/part-10.js"></script>
        <link rel="stylesheet" href="css/styles.css"/>
    </head>
    <body>
        <div ng-controller="part10Controller">
            <table>
                <thead>
                    <tr>
                        <th ng-click="sortData('name')">Name <span ng-class="getSortClass('name')"></span></th>
                        <th ng-click="sortData('dateOfBirth')">Date of Birth <span ng-class="getSortClass('dateOfBirth')"></span></th>
                        <th ng-click="sortData('gender')">Gender <span ng-class="getSortClass('gender')"></span></th>
                        <th ng-click="sortData('salary')">Salary <span ng-class="getSortClass('salary')"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees | orderBy:sortColumn:reverseColumn">
                        <td> {{ employee.name|uppercase }}</td>
                        <td>{{ employee.dateOfBirth| date:"dd/MM/yyyy" }}</td>
                        <td>{{ employee.gender|lowercase }}</td>
                        <td>{{ employee.salary |currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>