<!-- ng-click demo -->
<! doctype html>
<html ng-app="angularLearning">
    <head>
        <script src="js/angular-1.5.7/angular.js"></script>
        <script src="js/part-7.js"></script>
        <title>Ng click demo</title>
    </head>
    <body>
        <div ng-controller="part7Controller">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Likes</th>
                        <th>Dislikes</th>
                        <th>Likes/Dislikes</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="technology in technologies">
                        <td>{{ technology.name}}</td>
                        <td>{{ technology.likes}}</td>
                        <td>{{ technology.dislikes}}</td>
                        <td>
                            <input type="button" value="Likes" ng-click="incrementLikes(technology)"/>
                            <input type="button" value="Dislikes" ng-click="incrementDislikes(technology)"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </body>
</html>